<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <div class="back">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Banks management page</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create-bank">Create bank</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/history">All created banks</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mortage">Mortage calculator</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loan">Bank loan history</a>
              </li>
            </ul>
          </div>
    </nav>
        {% block body %}
        <div class="container mt-5" align="center">
            <h1 class="display-1" id="index">WELCOME!!!</h1>
        </div>
        {% endblock %}
    </div>
</body>
</html>